# API Keys & Secrets
.env

# Python compilation files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Streamlit logs and local runtime caches
.streamlit/
*.log

# Pycharm or VS Code project configuration settings
.vscode/
.idea/